body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div {
  font-family: Arial, sans-serif;
}

.theme-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.light .theme-toggle-button {
  color: #333;
}

.dark .theme-toggle-button {
  color: #f0f0f0;
}

.theme-toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .theme-toggle-button {
    top: 10px;
    left: 10px;
    padding: 8px 16px;
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .theme-toggle-button {
    top: 5px;
    left: 5px;
    padding: 6px 12px;
    font-size: 1.5rem;
  }
}

#welcome-header {
 display: flex;
 justify-content: center;
}

.notes-section {
  margin-bottom: 2rem;
}

.notes-section h2 {
  color: #333;
  font-size: 24px;
}

.note {
  background-color: #f9f9f9;
  border-left: 5px solid #007bff;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 5px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

form h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-top: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  min-height: 50px;
  resize: vertical;
  overflow-y: hidden;
}

form input[type='submit'] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form input[type='submit']:hover {
  background-color: #0056b3;
}

#notes-subheader {
  text-align: center;
}

.light, .dark {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark {
  background-color: #444;
  color: white; 
}

.dark #post-note-header {
  color: #f0f0f0;
}

.dark form {
  background-color: #1e1e1e;
  color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark form input,
.dark form textarea {
  background-color: #2a2a2a;
  color: #f0f0f0;
  border: 1px solid #444;
}

.dark form input::placeholder,
.dark form textarea::placeholder {
  color: #bbb;
}

.dark form input[type='submit'] {
  background-color: #007bff;
  color: white;
}

.dark form input[type='submit']:hover {
  background-color: #0056b3;
}

.dark .note {
  background-color: #2a2a2a;
}

